* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    max-width: 100%;
    min-height: 540px;
    padding: 20px;
}

.container form {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    height: 100%;
}

.container input {
    background-color: #f6f6f6;
    border: none;
    outline: none;
    border-bottom: 1px solid #7A7373;
    padding: 10px 1px;
    width: 70%;
    margin: 8px 0;
}

.login img {
    width: 70px;
    position: relative;
    top: -50px;
}

.toogle-panel img {
    width: 300px;
    position: relative;
    top: 15px;
    left: 35px;
}

.toogle {
    background-color: #121225;
    height: 500px;
    border-radius: 10px;
}

.container button.envio {
    background-color: #ff9d12;
    color: #f6f6f6;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 25px;
    cursor: pointer;
}

#loginTecnico,
#loginCliente {
    background-color: #121225;
    color: #f6f6f6;
    padding: 10px 30px;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.toogle-container button.hidden {
    background-color: #f6f6f6;
    color: #121225;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

#loginTecnico.selected,
#loginCliente.selected {
    background-color: #f6f6f6;
    color: #121225;
}